
<div class="contenerAll" fxFill>

    <div fxLayout="column" fxLayoutAlign="space-between" fxFill>

        <!-----------------------------------------   EFFETS ZONE   ------------------------------------------>
        <div class="effects" fxFlex>

            <div fxLayout="column">


                <div class="superContenerFlip">
                    <mat-slide-toggle [(ngModel)]="flipActive" class="subCategorieTitle">Symétrie</mat-slide-toggle>
                        <div class="contenerFlip" *ngIf="flipActive" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="50px">
                            <mat-slide-toggle [(ngModel)]="flipHorizontal" >Axe horizontal</mat-slide-toggle>
                            <mat-slide-toggle [(ngModel)]="flipVertical" >Axe vertical</mat-slide-toggle>
                        </div>
                </div>

                <mat-divider></mat-divider>

                <div class="superContenerBlur">
                    <mat-slide-toggle [(ngModel)]="gaussianBlurActive" class="subCategorieTitle">Flou Gaussien</mat-slide-toggle>
                        <div class="contenerBlur" *ngIf="gaussianBlurActive" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="50px">
                            <div>
                                Minimal
                                <mat-slider [(ngModel)]="gaussianBlurValueMin" [min]="gaussianBlurMin" [max]="gaussianBlurMax" [step]="gaussianBlurStep" [thumbLabel]="true" ></mat-slider>
                                {{gaussianBlurValueMin}}
                            </div>
                            <div>
                                Maximal
                                <mat-slider [(ngModel)]="gaussianBlurValueMax" [min]="gaussianBlurMin" [max]="gaussianBlurMax" [step]="gaussianBlurStep" [thumbLabel]="true" ></mat-slider>
                                {{gaussianBlurValueMax}}
                            </div>

                        </div>
                </div>


            </div>
        </div>
        <!-----------------------------------------   END EFFETS ZONE   ------------------------------------------>



        <!--<mat-divider></mat-divider>-->


        <!-----------------------------------------   INFOS ZONE   ------------------------------------------>
        <div class="infos" >


            <div fxLayout="row" fxLayoutAlign="space-between">


                <!-----------------   PATH SELECTIONNER --------------->
                <div fxLayout="column" fxFlexAlign="center" fxFlex>
                    <button mat-button (click)="selectFolderPath()" fxFlexAlign="center" fxFlex>
                        <i class="material-icons">
                            folder_open
                        </i>
                    </button>
                    <div fxLayoutAlign="center" class="infosText" fxFlex>
                        {{folderPath}}
                    </div>
                </div>


                <!-----------------   IMAGE CLONE INFOS --------------->
                <div fxLayout="column" fxFlexAlign="center" fxFlex >
                    <div fxFlexAlign="center">
                        Copies par image :
                    </div>
                    <mat-form-field class="displayCloneNumber" fxFlexAlign="center">
                        <input  matInput [(ngModel)]="numberClone" (ngModelChange)="updateNumberImg($event)">
                    </mat-form-field>
                </div>

                <!-----------------   IMAGE BEFORE INFOS --------------->
                <div fxLayout="column" fxFlexAlign="center" fxFlex >
                    <div fxLayoutAlign="center">
                        Image before
                    </div>
                    <div fxLayoutAlign="center" class="infosText">
                        {{numberImageBeforeAugmentation}}
                    </div>
                </div>

                <!-----------------   IMAGE AFTER INFOS --------------->
                <div fxLayout="column" fxFlexAlign="center" fxFlex >
                    <div fxLayoutAlign="center">
                        Image after
                    </div>
                    <div fxLayoutAlign="center" class="infosText">
                        {{numberImageAfterAugmentation}}
                    </div>
                </div>

                <!-----------------   FORMAT SAUVEGARDE INFOS --------------->
                <div fxLayout="column" fxFlexAlign="center" fxFlex>
                    <div fxFlexAlign="center">
                        Format de sauvegarde
                    </div>
                    <div fxFlexAlign="center">
                        <mat-form-field>
                            <mat-select [(value)]="saveFormat">
                                <mat-option *ngFor="let format of saveFormatList" [value]="format.viewValue">
                                    {{format.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>




                <!-----------------   GO INFOS    --------------->
                <div fxLayout="column" fxFlexAlign="center" fxFlex>
                    <button mat-button (click)="launchDataAug()" class="goButton" fxFlexAlign="center">
                        GO
                    </button>
                </div>


            </div>
        </div>
        <!-----------------------------------------   END INFOS ZONE   ------------------------------------------>


    </div>
</div>
