.toolbar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    //height: 30px;
    background-color: #333333;
    color: #c8c8c8;
    padding: 0;
    //height: 100%;
    //width: 100%;


    .contenerMenu{
       // height: 100%;

        .appLogo{
            height: 60%;
            padding-left: 7px;
        }

        .contenerAppTitle {
            font-size: 10px;
        }

        .contenerCenterBtn {
            //height: 100%;
            -webkit-app-region: no-drag;
            -webkit-user-select: all;
            .contenerBtn {

                .button {
                    border-radius: 0;
                    min-width: 0;
                    width: 40px;
                    padding: 0;
                    line-height: 0;
                    z-index: 10;

                    .material-icons {
                        font-size: 20px;
                    }
                }

                .hoverBtnRed:hover {
                    background-color: red;
                }

                .hoverBtnWhite:hover {
                    background-color: white;
                }




            }
        }


    }


}



