<div fxFill>

    <div fxLayout="column" fxLayoutAlign="center center" fxFill>

        <div fxLayout="row" fxLayoutAlign="center center" fxFill>


            <div class="contenerLabelnImg" fxLayout="column" fxLayoutAlign="center center">

                <button mat-button >
                    <img fxFlexFill src="../../assets/icon/image.png"/>
                </button>
                <div class="description">
                    Image
                </div>


            </div>



                <div class="contenerLabelnImg" fxLayout="column" fxLayoutAlign="center center" >
                    <button mat-button>
                        <img fxFlexFill src="../../assets/icon/sound.png"/>
                    </button>
                    <div class="description">Son</div>
                </div>


        </div>

    </div>

</div>
