

<div>

    <mat-slide-toggle>Inversion</mat-slide-toggle>
    <mat-slide-toggle>Horizontal</mat-slide-toggle>
    <mat-slide-toggle>Vertical</mat-slide-toggle>
</div>

<div>
    <mat-slide-toggle>Flou Gaussien</mat-slide-toggle>

        Minimal
        <mat-slider [(ngModel)]="gaussianBlurValueMin" [min]="gaussianBlurMin" [max]="gaussianBlurMax" [step]="gaussianBlurStep" [thumbLabel]="true" ></mat-slider>
        {{gaussianBlurValueMin}}
        Maximal
        <mat-slider [(ngModel)]="gaussianBlurValueMax" [min]="gaussianBlurMin" [max]="gaussianBlurMax" [step]="gaussianBlurStep" [thumbLabel]="true" ></mat-slider>
        {{gaussianBlurValueMax}}



</div>
